.ipynb_checkpoints/
/lightning_logs/
*.ckpt
**/__pycache__/
/caltech101/
/fish_benchmark.egg-info/
*.mp4
/logs/
/wandb/
/creds/
/test_metrics/
/.DS_Store
/.idea/
/data/validation/reports/
_build/
/docs/build/
/generated_configs/
archive/
*.mp4
*.MP4
*.pkl